.peacebone-wrapper { 
 margin: 0px auto;
    width: 580px;
    height: 525px;
    background-image: linear-gradient(rgba(233, 233, 233, 0.9), rgba(239, 239, 239, 0.5)),
                  url("https://i.postimg.cc/t46jGMgK/2721426.jpgg");
    position: relative;
    color: #696969;
    font-family: nunito;
    z-index: 1; 
border-radius: 10px;
margin: 50px auto;

  }
  
  .peacebone-polaroid img {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 220px;
    height: 220px;
    transform: rotate(20deg);
    z-index: 3;
     background-image: url("https://i.postimg.cc/ZqNMhx0n/polaroidframe.png");
  }
  
  .peacebone-overlay1 {
   background-color: #8EC5FC;
background-image: linear-gradient(1deg, var(--main) 10%, var(--alt) 100%);
   width: 220px;
    height: 220px;
     transform: rotate(20deg);
    position: absolute;
    right: 20px;
    z-index: 3;
    opacity: .40;

  }
  
  
  .peacebone-filter {
   width: 295px;
    height: 337px;
    background-image: url("https://i.postimg.cc/ZqNMhx0n/polaroidframe.png");
    background-repeat: no-repeat;
    filter: filter: filter: grayscale(32%) sepia(30%);
-webkit-filter: grayscale(32%) sepia(30%);
-moz-filter: grayscale(32%) sepia(30%);
    position: absolute;
    left: 300px;
    top: -20px;
    transform: rotate(12deg);
    z-index: 3;
    
  }
  
  .peacebone-namecard {
    position: absolute;
    bottom: 270px;
    left: 310px;
    font-size: 55px;
    font-family: 'Permanent Marker', cursive;
    color: #494949;
    text-outline: 1px solid #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
 text-shadow:     2px 2px 0px var(--alt), 
                  4px 4px 0px var(--main);
                  transform: rotate(10deg);
                  z-index: 5;
  }
  
  .peacebone-canons {
        position: absolute;
    width: 265px;
    height: 95px;
    overflow: auto;
    font-family: 'Poppins';
    font-size: 10pt;
    color: #5E5E5E;
    text-align: justify;
    left: 20px;
    background-color: #FFFFFA;
        box-shadow: 2px 2px 2px 1px var(--main);
    top: 35px;
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    line-height: 19px;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
   border:SOLID 1px #41403E;
    }
  
  .peacebone-canons h1 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 20px;
    line-height: 5px;
    position: absolute;
    bottom: -8px;
    right: 180px;
color: #494949;
    
  }
  
    .peacebone-canons b {
     color: var(--main); 
    }
    
    .peacebone-canons u {
    border-bottom: 2px solid var(--alt);
    font-weight: bold;
    text-decoration: none;
}
      
      
  .peacebone-claims {
      display: flex;
 
   flex-wrap: wrap;
        position: absolute;
    width: 195px;
    height: 55px;
    overflow: auto;
    font-family: 'Poppins';
    font-size: 10pt;
    color: #5E5E5E;
    text-align: justify;
    left: 20px;
    background-image: linear-gradient(rgba(255, 255, 250, 0.9), rgba(239, 239, 239, 0.5)),
                  url("https://i.pinimg.com/564x/22/5b/e2/225be2177a82055b3407a3cf504c34de.jpg");
        box-shadow: 2px 2px 2px 1px var(--main);
    top: 200px;
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    line-height: 19px;
      border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
   border:SOLID 1px #41403E;
    overflow: auto;
    }

.peacebone-claims span {
       font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 12pX;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    background-image: repeating-linear-gradient(
90deg, var(--main), var(--main) 13px, var(--alt) 0px, var(--alt) 5px);
    line-height: 15pt;
    text-align: center;
    padding: 3px 5px 3px 5px;
    margin: 2px 4px 2px 0px;
    flex-grow: 1;
    display: inline-block;
   
}


 .peacebone-skills {
    width: 100px;
    height: 160px;
    border-radius: 2px;	
    position: absolute;
    right: 390px;
    bottom: 21px;
    padding: 20px 50px;	
    text-align:right;
     transform: rotate(270deg);
  }
  
  .peacebone-skills b, i { 
   color:var(--alt);
  
  }
  
  
   .trait {	
     padding: 15px 10px;
     margin: -10px 0 0px -70px;	
     border-radius:2px;
     text-align:left;
     
   }
  .traitFill {
 width:100%;
    border:1px solid var(--main);
    border-radius:15px;
    height:10px;	
    padding: 5px;
    box-sizing: border-box;
    background: #fff;
    display:flex;	
    margin: 2px 0;}
    
  .traitFill div {
    display:inline-block;
background: linear-gradient(90deg, var(--main) 0%, var(--alt) 100%);
     height: 4px;
     margin: -2px;
    border-radius: 50px;
    
  }
  .trait b {	font:600 9pt 'montserrat',
  sans-serif;	
letter-spacing: 3;
  padding: 10px;
  color:#777;
  }
 
.peacebone-skills span {
  font-size: 40px;
  transform: rotate(90deg);
  position: absolute;
  right: 10px;
  background: linear-gradient(20deg, var(--main) 0%, var(--alt) 100%);
  border-radius: 100%;
  color: white;
    text-outline: 1px solid #000;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #000;
}


.peacebone-moodboard1 img {
  
  height: 90px;
  width: 90px;  
  top: 320px;
  left: 180px;
  border-radius: 10px;
 position: absolute;
  background: #fff;
     padding: 1px;
        -webkit-box-shadow: 0 4px 6px var(--main);
        -moz-box-shadow: 0 4px 6px var(--main);
        box-shadow: 0 4px 6px var(--main);
}

    .peacebone-aesthover1 {
    width: 92px;
    height: 92px;
      background: linear-gradient(20deg, var(--main) 0%, var(--alt) 100%);
    opacity: .35;
    position: absolute;
    border-radius: 10px;
    position: absolute;
    top: 320px;
    left: 180px;
  }
      
.peacebone-moodboard2 img {
  
  height: 90px;
  width: 90px;  
  top: 420px;
  left: 180px;
  border-radius: 10px;
 position: absolute;
  background: #fff;
    padding: 1px;
        -webkit-box-shadow: 0 4px 6px var(--main);
        -moz-box-shadow: 0 4px 6px var(--main);
        box-shadow: 0 4px 6px var(--main);
}

    .peacebone-aesthover2 {
    width: 92px;
    height: 92px;
      background: linear-gradient(20deg, var(--main) 0%, var(--alt) 100%);
    opacity: .35;
    position: absolute;
    border-radius: 10px;
    position: absolute;
    top: 420px;
    left: 180px;
  }
  
  .peacebone-moodboard3 img {
  
  height: 90px;
  width: 90px;  
  top: 320px;
  left: 280px;
  border-radius: 10px;
 position: absolute;
  background: #fff;
    padding: 1px;
        -webkit-box-shadow: 0 4px 6px var(--main);
        -moz-box-shadow: 0 4px 6px var(--main);
        box-shadow: 0 4px 6px var(--main);
}

    .peacebone-aesthover3 {
    width: 92px;
    height: 92px;
      background: linear-gradient(20deg, var(--main) 0%, var(--alt) 100%);
    opacity: .35;
    position: absolute;
    border-radius: 10px;
    position: absolute;
    top: 320px;
    left: 280px;
  }
  
  .peacebone-moodboard4 img {
  
  height: 90px;
  width: 90px;  
  top: 420px;
  left: 280px;
  border-radius: 10px;
 position: absolute;
 background: #fff;
        padding: 1px;
        -webkit-box-shadow: 0 4px 6px var(--main);
        -moz-box-shadow: 0 4px 6px var(--main);
        box-shadow: 0 4px 6px var(--main);
}

    .peacebone-aesthover4 {
    width: 92px;
    height: 92px;
      background: linear-gradient(20deg, var(--main) 0%, var(--alt) 100%);
    opacity: .35;
    position: absolute;
    border-radius: 10px;
    position: absolute;
    top: 420px;
    left: 280px;
  }
  
    .peacebone-wand {
        position: absolute;
    width: 120px;
    height: 120px;
    overflow: auto;
    font-family: 'Poppins';
    font-size: 10pt;
    color: #5E5E5E;
    text-align: justify;
    left: 390px;
    background-color: #FFFFFA;
        box-shadow: 2px 2px 2px 1px var(--main);
    top: 330px;
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    line-height: 19px;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
   border:SOLID 1px #41403E;
    }
  
 .peacebone-wand b
{
color: var(--main);
font-size: 12px;
line-height: 16px;
}

 .peacebone-wand i
{
border-bottom: 2px solid var(--alt);
font-size: 12px;
font-weight: 600;
}

.peacebone-wandtitle
{
position: absolute;
top: 310;
left: 389px;
padding: 5px;
width: 161px;
height: 30px;
text-align: center;
font-size: 30px;
color: #f5f5f5;
  background: var(--main);
  line-height: 15px;
  letter-spacing: 2;
 border-radius: 20px 20px 0px 0px;
  z-index: 2;
}
  
  
/* thread stuff */ 

.peacebone-toggle {
float: left; /* CHANGE TO DISPLAY:BLOCK FOR VERTICAL TABS */
}

/* position your tab labels in here - also use margins to space your labels - you kind of have to eye until it's centered bc the math with tabs gets confusing */
.peacebone-toggle 1 label {
 display: block; /* this lets you fix the label dimensions */
 width: 40px;
 height: 40px;
 background: var(--alt);
 position: absolute;
 left: 500px;
 top: 50px;
  border-radius: 30px;
font-size: 35px;
  text-align: center;
padding: 6px;
 z-index: 3;
 color: #fff;
    text-outline: 1px solid #585858;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #585858;
border: 1px solid #dbdbdb;
 cursor: pointer;
transition: .5s;
  
}

.peacebone-toggle input[type=checkbox]:checked ~ label {
 background: var(--main);
 z-index: 3;

}

.peacebone-toggle input[type=checkbox] {
 display: none; /* DON'T EDIT */
 
}

/* if you want tab transitions they go peacebone */
.peacebone-newPage {
  position: absolute;
width: 550px;
height: 500px;
 top: 0px;
 bottom: 0px;
 left: 0px;
 right: 0px;
background-image: linear-gradient(rgba(233, 233, 233, 0.9), rgba(239, 239, 239, 0.5)),
                  url("https://i.postimg.cc/t46jGMgK/2721426.jpgg");
 padding: 10px;
border-radius: 20px;
opacity: 0.0;
overflow: auto;
z-index: -1;
transition: .5s;
   margin-left: -290px;
}

/* if you want tab transitions they also go peacebone */
.peacebone-toggle input[type=checkbox]:checked ~ label ~ .peacebone-newPage {
 z-index: 2;
 opacity: 1;
  margin-left: 0px;
    transition: .5s;
}

.peacebone-toggle label {
  width: 50px;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    position: absolute;
    left: -8px;
    top: 10px;
    background: var(--main);
  z-index: 4;
  transition: .5s;
}

.peacebone-toggle label:before {
    height: 0;
    width: 0;
    top: -8.5px;
    left: 0.1px;
    border-bottom: 9px solid var(--main);
    border-left: 9px solid transparent;
}

.peacebone-toggle label:before, .peacebone-toggle label:after {
    content: "";
    position: absolute;
}

.peacebone-toggle label:after {
    height: 0;
    width: 0;
    right: -14.5px;
    top: -1px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid var(--main);
    
}

.peacebone-toggle label span {
color: #f7f7f7;
 cursor: pointer;
font-size: 35px;
position: absolute;
left: 20px;
bottom: 8px;
text-align: center;
font-family: 'Montserrat';
     text-outline: 1px solid var(--alt);
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: var(--alt);
}



.peacebone-thread input {
  display: none
  
}


/* thread stuff aaaaaaa */

   .moonwaltz-threadsbacking::-webkit-scrollbar { width: 0px; background-color: transparent;

 }
 
 .moonwaltz-threadsbacking {

position: absolute;
top: 5px;
right: 175px;
padding: 5px;
opacity: 1;  
width: 370px;
height: 370px;
overflow: auto; 

   
   
 }
 
 .moonwaltz-threads::-webkit-scrollbar { width: 0px; background-color: transparent;
   
   
 }

 
  .moonwaltz-threads
{
padding: 10px;
  line-height: 1.2;
  font-family: 'Poppins';
  font-size: 15pt;
  position: relative;
  left: 10px;
  width: 295px;
  margin: 0px 0px 0px 0px;
  overflow: auto;
}


.moonwaltz-seasons
{
z-index: 2;
position: sticky; 
top:0px; left:0px;
width: 250px;
height: 25px;
border-radius: 0px 20px 20px 0px;
padding-left: 20px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 15px;
  background-color: #f5f5f5;
  font-size: 25px;
  font-family: 'Poppins';
  color: #828282;
  line-height: 25px;
  text-align: center;
}


.moonwaltz-month {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  z-index: 1;
  text-align: center;
  border-radius: 50%;
  float: left;
  top: 53px;
  margin-top: 10px;
  font-size: 11pt;
  font-family: 'Poppins';
  font-weight: 300;
   background-color: var(--main);
  color: #FFF;
}


.moonwaltzThread-active, .moonwaltzThread-complete {
  position: relative;
  width: 190px;
  display: block; 
  margin-left: 50px;
  padding: 10px;
  line-height: 1.2;
  min-height:30px;
  text-align:left;
  font-size: 14px;

}

.moonwaltzThread-active a, .moonwaltzThread-complete a {
  position: relative;
  display: inline-block;
  font-weight:600;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 5px;
  text-align:left;
  overflow: hidden;
  color: var(--main);
   vertical-align: bottom;
   transition: color .3s ease-out;
cursor: pointer;
}


.moonwaltzThread-active a::before {
 content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   background-image: linear-gradient(60deg, var(--main) 0%, var(--alt) 100%);
   transition: transform .25s ease-out;
}

.moonwaltzThread-active a:hover {
color: #fff; 
}

.moonwaltzThread-active a:hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
  
}


.moonwaltzThread-active span, .moonwaltzThread-complete span {
 margin-right: 6px;
  color: #7A7A7A;
  font-size: 9pt;
  display: inline-block;
  background-color: #F5F5F5;
  padding: 3px 5px 3px 5px;
  margin: 2px 4px 2px 0px;
}

.moonwaltzThread-active span:before, .moonwaltzThread-complete span:before {
  content:'#';
  color:var(--alt);
  font-weight:600;
}

.moonwaltzThread-complete {
  opacity:0.75;
}

.moonwaltzThread-complete a {
  color:#8d8d8d!important;
}

.moonwaltzThread-complete span:before {
  color:#8d8d8d!important;
}

.moonwaltz-seasonsicon
{margin-top: -27px;
margin-left: 180px;
background: -webkit-linear-gradient(var(--main), var(--alt));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-size: 30px;
}

/* relationship + goads */

.peacebone-relation input {
  display: none
  
}
.peacebone-relation label {
  position: absolute;
  height: 80px;
  left: 420px;
  top: 400px;
  width: 80px;
  background: var(--alt);
  line-height: 4px; 
  text-transform: uppercase; 
  box-sizing: border-box;
  padding-left: 20px;
  border-radius: 100%;
  z-index: 4;
  transition: .5s;
}

.peacebone-relation label span {
color: #bbb;
 cursor: pointer;
font-size: 45px;
position: absolute;
left: 9px;
bottom: 7px;
text-align: center;
color: #fff;
text-outline: 1px solid var(--alt);
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: var(--alt);
}

.peacebone-relation input:checked+label {background: var(--main);
  transition: .5s;
  
}
.peacebone-relation input:checked+label ~ .peacebone-relation-content {opacity: 1;
    margin-left: 0px;
    transition: .5s;
}


.peacebone-relation label:before {
    height: 0;
    width: 0;
    top: -8.5px;
    left: 0.1px;
    border-bottom: 9px solid var(--main);
    border-left: 9px solid transparent;
}

.peacebone-relation label:before, .peacebone-relation label:after {
    display:none;
}

.peacebone-relation label:after {
display:none;
    
}

.peacebone-relation-content
{ height: 370px;
  width: 310px;
  background: #F5F5F5;
  position: absolute;
  bottom: 80px;
  left: 5px;
  box-sizing: border-box;
  border: 25px solid transparent;
  border-radius: 10px 10px 0px 0px; 
font-family: 'Montserrat', sans-serif;
  text-align: justify; 
  color: #444; 
  font-size: 14px; 
  opacity: 0;
  transition: .5s;
   margin-left: -390px;
   z-index: 5;
   padding-top: 15px;
   display: flex;
   flex-wrap:wrap;
   justify-content: space-around;
   align-items: baseline;
   align-content: flex-start;
  overflow: auto;
    box-shadow: 4px 3px 0 var(--alt);
    border-radius: 10px;
}



     .peacebone-thread-content .gryffindor {
    -webkit-text-fill-color: #9f5066;
    color: #9f5066 !important;
  }

  .peacebone-thread-content .hufflepuff {
    -webkit-text-fill-color: #cba55e;
    color: #cba55e !important;
  }

    .peacebone-thread-content .ravenclaw {
    -webkit-text-fill-color: #5f739a;
    color: #5f739a !important;

  }

    .peacebone-thread-content .slytherin {
    -webkit-text-fill-color: #75a796;
    color: #75a796 !important;


  }
  
      .peacebone-thread-content .faculty {
    -webkit-text-fill-color: #8ab5c7;
    color: #8ab5c7 !important;


  }
  
      .peacebone-thread-content .civilian {
    -webkit-text-fill-color: #d68f73;
    color: #d68f73 !important;


  }

/* ship */
 
 .ship {
  flex:1 0 auto;
background:#f4f4f4;
border-radius:8px;
color:#494949;
font-family: 'Poppins';
display:inline-flex;
  align-items:center;
  justify-content:flex-start;
font-size:10px;
font-weight:600;
line-height:100%;
margin:1.5px;
padding: 3px 6px 0px;
position:relative;
text-transform:uppercase; 
border: 1px solid var(--main);
    box-shadow: 1px 1px 0 var(--alt);
}

.ship div {
background: -webkit-linear-gradient(var(--main), var(--alt));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-size:20px;
margin:2px 10px 4px 0px;
padding:6px; padding-left:0px; }
.ship.npc div { color:#5554!important; }

 .peacebone-footer img {
   width: 540px;
   height: 150px;
   position: absolute;
   left: 30;
   bottom: 0;
   opacity: .50;
 }
